*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

h4{
  margin-top:  40px;
  text-align: center;
}

h6{
  margin:  5px auto;
  text-align: center;

}

.body-title{
  margin-top: 30px;
}

.dropzone{
  margin-top: 50px;
  height: 200px;
  width: 300px;
  border: 6px solid #6c6ee6;
  border-radius: 8px;
  background-color: #6c6ee674;

}

.zone-dragenter{
  transition: .9s;
  background-color: #ff7f5077;
  border: 8px solid #ff7f50;
  margin-top: 50px;
  height: 240px;
  width: 380px;
  border-radius: 8px;
}

#input-file{
  height: 100%;
  width: 100%;
  display: none;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
  padding: 20px 10px;
  height: auto;
  width: 400px;
}
